<thead class="">
  <tr>
    <th style="width:12%">Committee Id</th>
    <th style="width:12%">Meeting Id</th>
    <th style="width:12%">Hearing Item</th>
    <th style="width:12%">Sortable Error</th>
    <th style="width:12%">CLICS key</th>
    <th style="width:12%">CLICS value</th>
    <th style="width:12%">Target CSS</th>
    <th style="width:12%">Target Value</th>
  </tr>
</thead>