.font-2em {
  font-size: 2em;
}
.font-1dot5em {
  font-size: 1.5em;
}
.font-1em {
  font-size: 1em;
}
.font-0dot75em {
  font-size: 0.75em;
}
.font-0dot5em {
  font-size: 0.5em;
}

.cell-break {
  word-wrap: break-word;
  // word-break: break-all;
}

.table{
  margin-bottom: 0em !important;
}

.table-sm th, .table-sm td {
  padding: 0.1em .3em;
}

.border-bottom-thick {
  border-bottom: 100% 3px black !important;
}


.border-none{
  border: none !important;
}

.btn-orange{
  background-color: #fc8403;
  border-color: #fc8403;
  color: black;
}

.btn-yellow{
  background-color: #fcec00;
  border-color: #fcec00;
  color: black;
}

.bold {
  font-weight: bold;
}

hr.thick-black {
  border-top: 2px solid black;
}
hr.thick-dark-grey {
  border-top: 2px solid #606061;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}




// .underline {
// 	text-decoration: underline
// }

// .no-underline {
// 	text-decoration: none
// }

// .italic {
//   font-style: italic;
// }

// .serif {
//   font-family: serif !important;
// }

// .text-red {
//   color: colorError(3)
// }

// .text-grey {
//   color:   rgb(114, 113, 113)
// }

// .background-light-red {
//   background-color: rgb(247, 188, 186);
// }

// .background-grey {
//   background-color: #d4d6d8 !important;
// }

// .background-yellow {
//   background-color: #ffff1a !important;
// }

// .background-light-grey {
//   background-color: rgb(221, 221, 221);
// }

// // .background-light-green {
// //   background-color: #9be872;
// // }

// .background-light-green {
//   background-color: colorSuccess(1);
// }

// .border-none {
//   border: none !important;
// }

// .border-black {
//   border: 1px solid  black !important;
// }

// .bottom-border-thick {
//   border-bottom: 2px solid black
// }

// .bottom-border-thin {
//   border-bottom: 1px solid black
// }

// .right-border-thin {
//   border-right: 1px solid black
// }

// .border-thin-black {
//   border: 1px solid black;
// }

// .border-thin-grey {
//   border: 1px solid rgb(170, 170, 170)
// }

// .thick-pad {
//   margin: 2rem auto;
//   padding: 1rem;
//   width: 75%
// }

// .skinny-pad {
//   padding: 1rem;
// }

// .skinny-pad-left {
//   padding-left: .5rem;
// }

// .thick-pad-full-width {
//   margin: 1rem auto;
//   padding: 2rem;
//   width: 100%
// }

// .float-left {
//     float: left;
// }

// .float-right {
//     float:right;
// }

// .green {
//   color:  green()
// }

// .green-1 {
//   color:  green(1)
// }

// .orange-4 {
//   color: orange(4);
// }

// .grey {
//   color: rgb(114, 113, 113)
// }

// .font-1rem {
// 	font-size: 1rem !important;
// }

// .font-1pt5rem {
// 	font-size: 1.5rem !important;
// }

// .nobreak {
//   page-break-inside: avoid;
// }

// .render-newlines {
//   white-space: pre-wrap;
// }



// // Skinny Tables
// // --------------------------------------------------------
// table.skinny{
//   border: none;
//   padding: 0rem;
// }

// table.skinny th {
//   background-color: gray(3);
//   font-weight: bold;
// }

// table.skinny tr {
//   background-color: transparent;
//   border: 1px solid gray(3);
// }

// table.skinny td {
//   padding-top: .75rem;
//   padding-bottom: .75rem;
//   padding-left: .25rem;
//   padding-right: .25rem;
//   background-color: transparent;
// }


// // Minimalist Tables
// // --------------------------------------------------------
// table.minimalist{
//   border: none
// }

// table.minimalist th {
//   padding: 0rem;
//   background-color: transparent;
//   font-weight: bold;
// }

// table.minimalist tr {
//   padding: 0rem;
//   background-color: transparent;
// }

// table.minimalist.even tr {
//   &:nth-child(even) {
//     background-color: gray(1);
//   }
// }

// table.minimalist td {
//   padding: 0rem;
//   background-color: transparent;
// }


// // PDF Report Tables
// // --------------------------------------------------------
// table.pdf{
// 	font-size: 1rem !important;
//   border: none;
// }

// table.pdf th {
//   padding: 0.5rem;
//   font-size: 1rem !important;
//   background-color: transparent;
//   font-weight: bold;
// }

// table.pdf tr {
//   padding: 0.5rem;
//   font-size: 1rem !important;
//   background-color: transparent;
// }

// table.pdf td {
//   padding: 0.5rem;
//   background-color: transparent;
// }

// .align-vertical-center{
//   vertical-align: middle;
// }

// .align-vertical-top{
//   vertical-align: top !important;
// }

// .align-vertical-bottom{
//   vertical-align: bottom;
// }

// .text-align-top {
//   text-align: top;
// }

// .text-align-center {
//   // just aligns the horizontal center, not vertical center
//   text-align: center;
// }

// .text-align-right {
//   text-align: right;
// }

// .text-align-left {
//   text-align: left;
// }

// .text-align-bottom {
//   vertical-align: bottom ;
// }