<div class="border border-warning">
  <div class="mx-3 my-2">
    <div class="card-group">


      <div class="card border-none" >
        <div class="card-body p-0 m-0">
          <h4 class="m-0 p-0">View By Daily Differences</h4>
          <small>* Cannot be combined with other Filters (yet)</small>
        </div>
      </div>

      <div class="card border-none" >
        <div class="card-group">
          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1" id="filter-1-day">
                <div class='font-0dot75em bold'>Yesterday </div>
                <%= link_to "Filter", report_filtered_path(@report, day_diff: 1), class:"button btn btn-danger btn-sm mx-auto d-block p-0 px-1 m-0"%>
              </div>
            </div>
          </div>
          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1" id="filter-3-day">
                <div class='font-0dot75em bold'>3 Days ago </div>
                <%= link_to "Filter", report_filtered_path(@report, day_diff: 3), class:"button btn btn-sm btn-orange mx-auto d-block p-0 px-1 m-0"%>
              </div>
            </div>
          </div>
          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1" id="filter-5-day">
                <div class='font-0dot75em bold'>5 Days ago </div>
                <%= link_to "Filter", report_filtered_path(@report, day_diff: 5), class:"button btn btn-warning btn-sm mx-auto d-block p-0 px-1 m-0"%>
              </div>
            </div>
          </div>
          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1" id="filter-7-day">
                <div class='font-0dot75em bold'>1 Week ago </div>
                <%= link_to "Filter", report_filtered_path(@report, day_diff: 7), class:"button btn btn-yellow btn-sm mx-auto d-block p-0 px-1 m-0"%>
              </div>
            </div>
          </div>

        </div>
    </div>
    </div>

  </div>
</div>