<div class="border border-success">
  <div class="mx-3 my-2">
    <div class="card-group">


      <div class="card border-none" >
        <div class="card-body p-0 m-0">
          <h4 class="m-0 p-0">Run Date: <%= report_timestamp(@report.created_at)%></h4>
          <strong>Report id : <%= @report.id%> </strong>
        </div>
      </div>

      <div class="card border-none" >
        <div class="card-group">

          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <% "intentionally blank" %>
            </div>
          </div>

          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1">
                <div class='font-0dot75em bold'> Early Errors </div>
                <%= link_to "Download CSV", download_committee_ee_path(report_id: @report.id, format: :csv), class:"button btn btn-success btn-sm mx-auto d-block p-0 px-1 m-0", "data-confirm" => "This may take up to a minute. Proceed?"%>
              </div>
            </div>
          </div>

          <div class="card border-none" >
            <div class="card-body p-0 m-0">
              <div class="px-3 pt-1">
                <div class='font-0dot75em bold'> Page Comparison Errors </div>
                <%= link_to "Download CSV", download_committee_ei_path(report_id: @report.id, format: :csv), class:"button btn btn-success btn-sm mx-auto d-block p-0 px-1 m-0", "data-confirm" => "This might take a few minutes. Proceed?" %>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>