<%= render 'reports/show_shared'%>
<div class='m-1 pt-1'>

  <%= turbo_frame_tag("filtered-early-errors", src: report_filtered_ee_path(report_id: @report.id, f_params: @f_params)) do %>
    <div class='m-1 pt-4'>
      Loading Early Errors ...
    </div>
    <%= render 'components/spinner' %>
  <%end%>


  <%= turbo_frame_tag("filtered-error-items", src: report_filtered_ei_path(report_id: @report.id, f_params: @f_params)) do %>
    <div class='m-1 pt-4'>
      Loading Comparison Errors ...
    </div>
    <%= render 'components/spinner' %>
  <%end%>

</div>
