<%= turbo_frame_tag("filtered-error-items") do %>
  <% if @filtered_error_items.present?%>

    <div class='m-1 pt-4'>
      <h4>Comparison Errors</h4>
      <% @filtered_error_items.each do |all_ei_by_comm|%>
        <% first_comm = all_ei_by_comm[0]%>

        <div class='target-page-results' id=<%= first_comm['clics_committee_id']%>>
          <p class='pt-4 m-0 target-page-url'>
            Target Page:
            <%= link_to first_comm['url_filepath'], cogar_url(first_comm['url_filepath']), class: ""%>
          </p>
        <table class="table table-bordered font-0dot75em mb-4" id=<%= "table-#{first_comm['clics_committee_id']}"%>>
            <thead class="table-info">
              <tr>
                <th style="width:12%">Committee Id</th>
                <th style="width:14%">Meeting Id</th>
                <th style="width:14%">Hearing Item</th>
                <th style="width:8%">Sortable Error</th>
                <th style="width:10%">CLICS key</th>
                <th style="width:14%">CLICS value</th>
                <th style="width:10%">Target CSS</th>
                <th style="width:14%">Target Value</th>
              </tr>
            </thead>
            <tbody class="cell-break" >
              <% all_ei_by_comm.each do |ei|%>
                <% if ei['vote_summary_hi_id'].present? %>
                  <%= render partial: 'reports/error_item_tables/filtered_ei_inner_table_votes', locals: {ei: ei}  %>
                <% else %>
                  <%= render partial: 'reports/error_item_tables/filtered_ei_inner_table', locals:{ei:ei}  %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        <% end %>
        </div>
      </div>

  <%end%>
<%end%>
