
<div class='m-5'>
  <h1>All Reports Page</h1>
  <p> (well, just the most recent ones)</p>
</div>

<div class='m-5'>
<% @reports.each do |report|%>

    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-8">
          <div class="card-body">
            <p class="card-text">
              Report <%= report.id%>
            </p>
            <p class="card-text">
              Date: <%= report_timestamp(report.created_at)%>
            </p>
          </div>
        </div>
        <div class="col-md-4 row my-auto">
          <%= link_to "Go!", report_path(report.id), class:"button btn btn-success mx-auto d-block " %>
        </div>
      </div>
    </div>


<% end %>
</div>
