<div class="m-0 p-0">

  <%= turbo_frame_tag("stats-section") do %>
    <div class="card-group">
      <div class="card border-0">
        <div class="card-body m-0 p-1">
          <table class="table table-bordered table-sm">
            <thead class="table-warning">
              <tr>
                <th class='font-0dot75em'>Error</th>
                <th class='font-0dot75em' style="width:20%">Count</th>
              </tr>
            </thead>
            <tbody class="cell-break">
              <tr id="stats-tic">
                <td class='font-0dot75em'>Total Items checked</td>
                <td class='font-0dot75em'><%=@stats[:stats_total_fields]%></td>
              </tr>
              <tr id="stats-tee">
                <td class='font-0dot75em'>Total Early Errors
                </td>
                <td class='font-0dot75em'><%=@stats[:stats_total_ee_errors]%></td>
              </tr>
              <tr id="stats-tce">
                <td class='font-0dot75em'>Total Comparison Errors
                </td>
                <td class='font-0dot75em'><%=@stats[:stats_total_ei_errors]%></td>
              </tr>
              <tr id="stats-ce">
                <td class='font-0dot75em'>
                <p>Comparison Errors (not including "clics and coga empty values")</p>
                </td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors_no_0_5]%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-body m-0 p-1">
          <table class="table table-bordered table-sm">
            <thead class="table-warning">
              <tr>
                <th class='font-0dot75em'>Error</th>
                <th class='font-0dot75em'>Count</th>
              </tr>
            </thead>
            <tbody class="cell-break">
              <tr id="stats-te1">
                <td class='font-0dot75em'><%=@error_hash[1]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors1]%></td>
              </tr>
              <tr id="stats-te2">
                <td class='font-0dot75em'><%=@error_hash[2]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors2]%></td>
              </tr>
              <tr id="stats-te3">
                <td class='font-0dot75em'><%=@error_hash[3]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors3]%></td>
              </tr>
              <tr id="stats-te4">
                <td class='font-0dot75em'><%=@error_hash[4]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors4]%></td>
              </tr>
              <tr id="stats-te5">
                <td class='font-0dot75em'><%=@error_hash[5]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors5]%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card border-0">
        <div class="card-body m-0 p-1">
          <table class="table table-bordered table-sm">
            <thead class="table-warning">
              <tr>
                <th class='font-0dot75em'>Error</th>
                <th class='font-0dot75em'>Count</th>
              </tr>
            </thead>
            <tbody class="cell-break">

              <tr id="stats-te6">
                <td class='font-0dot75em'><%=@error_hash[6]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors6]%></td>
              </tr>
              <tr id="stats-te7">
                <td class='font-0dot75em'><%=@error_hash[7]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors7]%></td>
              </tr>
              <tr id="stats-te8">
                <td class='font-0dot75em'><%=@error_hash[8]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors8]%></td>
              </tr>
              <tr id="stats-te9">
                <td class='font-0dot75em'><%=@error_hash[9]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors9]%></td>
              </tr>
              <tr id="stats-te10">
                <td class='font-0dot75em'><%=@error_hash[10]%></td>
                <td class='font-0dot75em'><%=@stats[:stats_total_errors10]%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>