<ul class="nav nav-tabs font-1em">
  <li class="nav-item">
    <%= link_to "All Reports", reports_path, class:"nav-link" %>
  </li>

  <% if @recent_report %>
    <li class="nav-item">
      <%= link_to "Most Recent Report", report_path(@recent_report.id), class:"nav-link" %>
    </li>
  <%end %>

  <% if @current_page %>
    <li class="nav-item">
      <%= link_to @current_page, '', class:"nav-link" %>
    </li>
  <%end %>

</ul>