<!DOCTYPE html>
<html>
  <head>
    <title>CogarReports</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>

    <div class="m-2">
      <%= render 'layouts/navigation' %>
    </div>

    <div class="m-2">
      <%= yield %>
    </div>

  </body>
</html>
